body {
    /* padding: 20px; */
    font-family: 'Inter', sans-serif;
    background-color: #27292c;
    color: #ffffff;
    margin: 0;
}

.img-container h1 {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.react-img {
    width: 40px;
    margin-left: 5px;
    padding: 5px 2px;
    border-radius: 10px;
}

/* .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: rgba(97, 219, 251, 0.9);
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
    padding: 5px 20px;
    margin: 0;
    border-radius: 10px;
    position: relative;
    color: black;
} */

.nav-head {
    display: flex;
    flex-direction: column;
    background-color: #21222A;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 2px;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-left h1 {
    font-size: 1.2rem;
}

.img-section {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0; 
    padding: 0; 
    gap: 20px;
}

.list {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
    padding: 2px 8px;
    z-index: 101;
}

.img-section a {
    text-decoration: none;
}


.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
    padding: 10px 20px;
    border-radius: 10px;
    /* background-color: rgba(33, 34, 42, 0.7);
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1); */
    z-index: 1;

    /* Glass effect core */
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);

    /* Shadows and glow */
    box-shadow: 
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        inset 0 0 20px rgba(255, 255, 255, 0.05),
        0 0 15px rgba(97, 219, 251, 0.2);

}

/* .heading:hover {
    transform: scale(1.01);
    transition: ease-in 0.1s;
} */

.list:hover {
    transform: scale(1.05);
}

.dropdown-menu {
    position: absolute;
    width: 200px;
    top: 100%;
    left: 50%;
    list-style: none;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 102;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.dropdown-menu li {
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}

.dropdown-menu li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(39, 41, 44, 0.9);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    /* transition: all 0.2s ease; */
}

.dropdown-list {
    position: relative;
}

.dropdown-menu li a:hover {
    /* color: #60b9cf; */
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0;
    /* border-radius: 12px; */
    transition: all 0.2s ease;
    /* backdrop-filter: blur(12px); */

    box-shadow: 
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        inset 0 0 20px rgba(255, 255, 255, 0.05),
        0 0 15px rgba(97, 219, 251, 0.2);
}

.list:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.slide-menu {
    position: fixed;
    top: 60px;
    right: -300px;
    width: 300px;
    height: calc(100vh - 150px);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 102;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
}

.slide-menu.open {
    right: 0;
}

.slide-menu-content {
    padding: 20px;
}

.slide-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide-menu li {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #27292c;
    border-radius: 10px;
}

.slide-menu li:hover {
    background-color: rgba(255, 255, 255, 0.7);

    box-shadow: 
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        inset 0 0 20px rgba(255, 255, 255, 0.05),
        0 0 15px rgba(97, 219, 251, 0.2);
}

.menu-icon {
    margin-right: 12px;
    font-size: 20px;
    color: #27292c;
}

.slide-menu span {
    font-size: 16px;
    color: #27292c;
}

.feather {
    margin: 30px 10px;
    padding-top: 30px;
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    padding: 10px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);

}

.feather h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin-bottom: 40px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    padding: 10px;
    border-radius: 10px;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
}

.icons {
    padding: 20px;
    border-radius: 10px;
}

.icons:hover {
    /* padding: 10px; */
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* border-radius: 16px; */
    transition: all 0.1s ease;

    box-shadow: 
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        inset 0 0 20px rgba(255, 255, 255, 0.05),
        0 0 15px rgba(97, 219, 251, 0.2);
}


.main-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 60vh;
    padding: 40px;
    background-color: #27292c;
    position: relative;
}

.main-background-image {
    position: fixed;
    top: 65%;
    right: -40%;
    width: 80%;
    height: 100%;
    transform: translateY(-60%);
    background-image: url('../components/react-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.03;
    z-index: 1;
    pointer-events: none;
}

.main-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    width: 100%;
    /* padding-left: 40px; */
}

.main-content h1 {
    margin-top: 0;
    margin-left: 9px;
}

.main-content ul {
    padding-left: 50px;
    padding-bottom: 10px;
    margin-left: -20px;
    max-width: 60%;
}

.main-content ul li {
    padding: 10px 0;
    list-style: disc;
    padding-left: 20px;
    border-radius: 10px;
}

.main-content ul li:hover {
    /* background-color: aqua; */
    cursor: pointer;
    /* width: 70%; */
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 
        0 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.05),
        0 0 15px rgba(97, 219, 251, 0.2);
}

.main-content ul li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}

